In [32]:
import numpy as np
import pandas as pd

In [33]:
f=pd.read_csv("data1.csv")

In [34]:
f

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [35]:
f.shape

(150, 5)

In [36]:
f.head(10)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [37]:
f.tail(10)

     sepal_length  sepal_width  petal_length  petal_width         species
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [38]:
f.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [39]:
f.index

RangeIndex(start=0, stop=150, step=1)

In [40]:
f.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [41]:
f.info

<bound method DataFrame.info of      sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [42]:
f.columns.values

array(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'], dtype=object)

In [43]:
f.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [44]:
f["petal_length"]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64

In [45]:
f.sort_values(by="petal_length")

     sepal_length  sepal_width  petal_length  petal_width         species
22            4.6          3.6           1.0          0.2     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
35            5.0          3.2           1.2          0.2     Iris-setosa
36            5.5          3.5           1.3          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
131           7.9          3.8           6.4          2.0  Iris-virginica
105           7.6          3.0           6.6          2.1  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica

[150 rows x 5 columns]

In [46]:
f.iloc[:10,0:]

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [47]:
f["petal_length"].iloc[5]

1.7

In [48]:
f["petal_length"]
f["sepal_length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [49]:
f.iloc[5:10,2:4]

   petal_length  petal_width
5           1.7          0.4
6           1.4          0.3
7           1.5          0.2
8           1.4          0.2
9           1.5          0.1

In [50]:
f["sepal_length"]=f["sepal_length"].astype("int")

In [51]:
f.dtypes

sepal_length      int32
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [52]:
f["sepal_length"]=f["sepal_length"].astype("int")

In [53]:
from sklearn import preprocessing

In [54]:
x=f.iloc[:,:4]
x

     sepal_length  sepal_width  petal_length  petal_width
0               5          3.5           1.4          0.2
1               4          3.0           1.4          0.2
2               4          3.2           1.3          0.2
3               4          3.1           1.5          0.2
4               5          3.6           1.4          0.2
..            ...          ...           ...          ...
145             6          3.0           5.2          2.3
146             6          2.5           5.0          1.9
147             6          3.0           5.2          2.0
148             6          3.4           5.4          2.3
149             5          3.0           5.1          1.8

[150 rows x 4 columns]

In [55]:
x_scaled=preprocessing.MinMaxScaler().fit_transform(x)
x_scaled

array([[0.33333333, 0.625     , 0.06779661, 0.04166667],
       [0.        , 0.41666667, 0.06779661, 0.04166667],
       [0.        , 0.5       , 0.05084746, 0.04166667],
       [0.        , 0.45833333, 0.08474576, 0.04166667],
       [0.33333333, 0.66666667, 0.06779661, 0.04166667],
       [0.33333333, 0.79166667, 0.11864407, 0.125     ],
       [0.        , 0.58333333, 0.06779661, 0.08333333],
       [0.33333333, 0.58333333, 0.08474576, 0.04166667],
       [0.        , 0.375     , 0.06779661, 0.04166667],
       [0.        , 0.45833333, 0.08474576, 0.        ],
       [0.33333333, 0.70833333, 0.08474576, 0.04166667],
       [0.        , 0.58333333, 0.10169492, 0.04166667],
       [0.        , 0.41666667, 0.06779661, 0.        ],
       [0.        , 0.41666667, 0.01694915, 0.        ],
       [0.33333333, 0.83333333, 0.03389831, 0.04166667],
       [0.33333333, 1.        , 0.08474576, 0.125     ],
       [0.33333333, 0.79166667, 0.05084746, 0.125     ],
       [0.33333333, 0.625     , 0.06779661, 0.08333333],
       [0.33333333, 0.75      , 0.11864407, 0.08333333],
       [0.33333333, 0.75      , 0.08474576, 0.08333333],
       [0.33333333, 0.58333333, 0.11864407, 0.04166667],
       [0.33333333, 0.70833333, 0.08474576, 0.125     ],
       [0.        , 0.66666667, 0.        , 0.04166667],
       [0.33333333, 0.54166667, 0.11864407, 0.16666667],
       [0.        , 0.58333333, 0.15254237, 0.04166667],
       [0.33333333, 0.41666667, 0.10169492, 0.04166667],
       [0.33333333, 0.58333333, 0.10169492, 0.125     ],
       [0.33333333, 0.625     , 0.08474576, 0.04166667],
       [0.33333333, 0.58333333, 0.06779661, 0.04166667],
       [0.        , 0.5       , 0.10169492, 0.04166667],
       [0.        , 0.45833333, 0.10169492, 0.04166667],
       [0.33333333, 0.58333333, 0.08474576, 0.125     ],
       [0.33333333, 0.875     , 0.08474576, 0.        ],
       [0.33333333, 0.91666667, 0.06779661, 0.04166667],
       [0.        , 0.45833333, 0.08474576, 0.        ],
       [0.33333333, 0.5       , 0.03389831, 0.04166667],
       [0.33333333, 0.625     , 0.05084746, 0.04166667],
       [0.        , 0.45833333, 0.08474576, 0.        ],
       [0.        , 0.41666667, 0.05084746, 0.04166667],
       [0.33333333, 0.58333333, 0.08474576, 0.04166667],
       [0.33333333, 0.625     , 0.05084746, 0.08333333],
       [0.        , 0.125     , 0.05084746, 0.08333333],
       [0.        , 0.5       , 0.05084746, 0.04166667],
       [0.33333333, 0.625     , 0.10169492, 0.20833333],
       [0.33333333, 0.75      , 0.15254237, 0.125     ],
       [0.        , 0.41666667, 0.06779661, 0.08333333],
       [0.33333333, 0.75      , 0.10169492, 0.04166667],
       [0.        , 0.5       , 0.06779661, 0.04166667],
       [0.33333333, 0.70833333, 0.08474576, 0.04166667],
       [0.33333333, 0.54166667, 0.06779661, 0.04166667],
       [1.        , 0.5       , 0.62711864, 0.54166667],
       [0.66666667, 0.5       , 0.59322034, 0.58333333],
       [0.66666667, 0.45833333, 0.66101695, 0.58333333],
       [0.33333333, 0.125     , 0.50847458, 0.5       ],
       [0.66666667, 0.33333333, 0.61016949, 0.58333333],
       [0.33333333, 0.33333333, 0.59322034, 0.5       ],
       [0.66666667, 0.54166667, 0.62711864, 0.625     ],
       [0.        , 0.16666667, 0.38983051, 0.375     ],
       [0.66666667, 0.375     , 0.61016949, 0.5       ],
       [0.33333333, 0.29166667, 0.49152542, 0.54166667],
       [0.33333333, 0.        , 0.42372881, 0.375     ],
       [0.33333333, 0.41666667, 0.54237288, 0.58333333],
       [0.66666667, 0.08333333, 0.50847458, 0.375     ],
       [0.66666667, 0.375     , 0.62711864, 0.54166667],
       [0.33333333, 0.375     , 0.44067797, 0.5       ],
       [0.66666667, 0.45833333, 0.57627119, 0.54166667],
       [0.33333333, 0.41666667, 0.59322034, 0.58333333],
       [0.33333333, 0.29166667, 0.52542373, 0.375     ],
       [0.66666667, 0.08333333, 0.59322034, 0.58333333],
       [0.33333333, 0.20833333, 0.49152542, 0.41666667],
       [0.33333333, 0.5       , 0.6440678 , 0.70833333],
       [0.66666667, 0.33333333, 0.50847458, 0.5       ],
       [0.66666667, 0.20833333, 0.66101695, 0.58333333],
       [0.66666667, 0.33333333, 0.62711864, 0.45833333],
       [0.66666667, 0.375     , 0.55932203, 0.5       ],
       [0.66666667, 0.41666667, 0.57627119, 0.54166667],
       [0.66666667, 0.33333333, 0.6440678 , 0.54166667],
       [0.66666667, 0.41666667, 0.6779661 , 0.66666667],
       [0.66666667, 0.375     , 0.59322034, 0.58333333],
       [0.33333333, 0.25      , 0.42372881, 0.375     ],
       [0.33333333, 0.16666667, 0.47457627, 0.41666667],
       [0.33333333, 0.16666667, 0.45762712, 0.375     ],
       [0.33333333, 0.29166667, 0.49152542, 0.45833333],
       [0.66666667, 0.29166667, 0.69491525, 0.625     ],
       [0.33333333, 0.41666667, 0.59322034, 0.58333333],
       [0.66666667, 0.58333333, 0.59322034, 0.625     ],
       [0.66666667, 0.45833333, 0.62711864, 0.58333333],
       [0.66666667, 0.125     , 0.57627119, 0.5       ],
       [0.33333333, 0.41666667, 0.52542373, 0.5       ],
       [0.33333333, 0.20833333, 0.50847458, 0.5       ],
       [0.33333333, 0.25      , 0.57627119, 0.45833333],
       [0.66666667, 0.41666667, 0.61016949, 0.54166667],
       [0.33333333, 0.25      , 0.50847458, 0.45833333],
       [0.33333333, 0.125     , 0.38983051, 0.375     ],
       [0.33333333, 0.29166667, 0.54237288, 0.5       ],
       [0.33333333, 0.41666667, 0.54237288, 0.45833333],
       [0.33333333, 0.375     , 0.54237288, 0.5       ],
       [0.66666667, 0.375     , 0.55932203, 0.5       ],
       [0.33333333, 0.20833333, 0.33898305, 0.41666667],
       [0.33333333, 0.33333333, 0.52542373, 0.5       ],
       [0.66666667, 0.54166667, 0.84745763, 1.        ],
       [0.33333333, 0.29166667, 0.69491525, 0.75      ],
       [1.        , 0.41666667, 0.83050847, 0.83333333],
       [0.66666667, 0.375     , 0.77966102, 0.70833333],
       [0.66666667, 0.41666667, 0.81355932, 0.875     ],
       [1.        , 0.41666667, 0.94915254, 0.83333333],
       [0.        , 0.20833333, 0.59322034, 0.66666667],
       [1.        , 0.375     , 0.89830508, 0.70833333],
       [0.66666667, 0.20833333, 0.81355932, 0.70833333],
       [1.        , 0.66666667, 0.86440678, 1.        ],
       [0.66666667, 0.5       , 0.69491525, 0.79166667],
       [0.66666667, 0.29166667, 0.72881356, 0.75      ],
       [0.66666667, 0.41666667, 0.76271186, 0.83333333],
       [0.33333333, 0.20833333, 0.6779661 , 0.79166667],
       [0.33333333, 0.33333333, 0.69491525, 0.95833333],
       [0.66666667, 0.5       , 0.72881356, 0.91666667],
       [0.66666667, 0.41666667, 0.76271186, 0.70833333],
       [1.        , 0.75      , 0.96610169, 0.875     ],
       [1.        , 0.25      , 1.        , 0.91666667],
       [0.66666667, 0.08333333, 0.6779661 , 0.58333333],
       [0.66666667, 0.5       , 0.79661017, 0.91666667],
       [0.33333333, 0.33333333, 0.66101695, 0.79166667],
       [1.        , 0.33333333, 0.96610169, 0.79166667],
       [0.66666667, 0.29166667, 0.66101695, 0.70833333],
       [0.66666667, 0.54166667, 0.79661017, 0.83333333],
       [1.        , 0.5       , 0.84745763, 0.70833333],
       [0.66666667, 0.33333333, 0.6440678 , 0.70833333],
       [0.66666667, 0.41666667, 0.66101695, 0.70833333],
       [0.66666667, 0.33333333, 0.77966102, 0.83333333],
       [1.        , 0.41666667, 0.81355932, 0.625     ],
       [1.        , 0.33333333, 0.86440678, 0.75      ],
       [1.        , 0.75      , 0.91525424, 0.79166667],
       [0.66666667, 0.33333333, 0.77966102, 0.875     ],
       [0.66666667, 0.33333333, 0.69491525, 0.58333333],
       [0.66666667, 0.25      , 0.77966102, 0.54166667],
       [1.        , 0.41666667, 0.86440678, 0.91666667],
       [0.66666667, 0.58333333, 0.77966102, 0.95833333],
       [0.66666667, 0.45833333, 0.76271186, 0.70833333],
       [0.66666667, 0.41666667, 0.6440678 , 0.70833333],
       [0.66666667, 0.45833333, 0.74576271, 0.83333333],
       [0.66666667, 0.45833333, 0.77966102, 0.95833333],
       [0.66666667, 0.45833333, 0.69491525, 0.91666667],
       [0.33333333, 0.29166667, 0.69491525, 0.75      ],
       [0.66666667, 0.5       , 0.83050847, 0.91666667],
       [0.66666667, 0.54166667, 0.79661017, 1.        ],
       [0.66666667, 0.41666667, 0.71186441, 0.91666667],
       [0.66666667, 0.20833333, 0.6779661 , 0.75      ],
       [0.66666667, 0.41666667, 0.71186441, 0.79166667],
       [0.66666667, 0.58333333, 0.74576271, 0.91666667],
       [0.33333333, 0.41666667, 0.69491525, 0.70833333]])

In [56]:
df_normalized = pd.DataFrame(x_scaled)
df_normalized

            0         1         2         3
0    0.333333  0.625000  0.067797  0.041667
1    0.000000  0.416667  0.067797  0.041667
2    0.000000  0.500000  0.050847  0.041667
3    0.000000  0.458333  0.084746  0.041667
4    0.333333  0.666667  0.067797  0.041667
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.666667  0.208333  0.677966  0.750000
147  0.666667  0.416667  0.711864  0.791667
148  0.666667  0.583333  0.745763  0.916667
149  0.333333  0.416667  0.694915  0.708333

[150 rows x 4 columns]

In [57]:
f

     sepal_length  sepal_width  petal_length  petal_width         species
0               5          3.5           1.4          0.2     Iris-setosa
1               4          3.0           1.4          0.2     Iris-setosa
2               4          3.2           1.3          0.2     Iris-setosa
3               4          3.1           1.5          0.2     Iris-setosa
4               5          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145             6          3.0           5.2          2.3  Iris-virginica
146             6          2.5           5.0          1.9  Iris-virginica
147             6          3.0           5.2          2.0  Iris-virginica
148             6          3.4           5.4          2.3  Iris-virginica
149             5          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [63]:
f=f.iloc[:,-1]

In [65]:
label_encoder=preprocessing.LabelEncoder()
enco=label_encoder.fit_transform(f)

In [66]:
dataframe=pd.DataFrame(enco)
dataframe

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [68]:
f.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)